body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.hero-unit.diag-ne {
    background: #d3251f; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #d3251f 0%, #d3251f 20%, #ffcf00 40%, #ffcf00 60%, #00915f 80%, #00915f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#d3251f), color-stop(20%,#d3251f), color-stop(40%,#ffcf00), color-stop(60%,#ffcf00), color-stop(80%,#00915f), color-stop(100%,#00915f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #d3251f 0%,#d3251f 20%,#ffcf00 40%,#ffcf00 60%,#00915f 80%,#00915f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #d3251f 0%,#d3251f 20%,#ffcf00 40%,#ffcf00 60%,#00915f 80%,#00915f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #d3251f 0%,#d3251f 20%,#ffcf00 40%,#ffcf00 60%,#00915f 80%,#00915f 100%); /* IE10+ */
    background: linear-gradient(45deg,  #d3251f 0%,#d3251f 20%,#ffcf00 40%,#ffcf00 60%,#00915f 80%,#00915f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3251f', endColorstr='#00915f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.hero-unit.diag-se {
    background: #d3251f; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #d3251f 0%, #d3251f 20%, #ffcf00 40%, #ffcf00 60%, #00915f 80%, #00915f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d3251f), color-stop(20%,#d3251f), color-stop(40%,#ffcf00), color-stop(60%,#ffcf00), color-stop(80%,#00915f), color-stop(100%,#00915f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #d3251f 0%,#d3251f 20%,#ffcf00 40%,#ffcf00 60%,#00915f 80%,#00915f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #d3251f 0%,#d3251f 20%,#ffcf00 40%,#ffcf00 60%,#00915f 80%,#00915f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #d3251f 0%,#d3251f 20%,#ffcf00 40%,#ffcf00 60%,#00915f 80%,#00915f 100%); /* IE10+ */
    background: linear-gradient(-45deg,  #d3251f 0%,#d3251f 20%,#ffcf00 40%,#ffcf00 60%,#00915f 80%,#00915f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3251f', endColorstr='#00915f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.bigandlight {
  font-size: 200%;
  font-weight: 200;
}
.spacedandlight {
    font-weight: 200;
    letter-spacing:0.6em
}
.hero-logo {
    float:left;
    padding-right: 20px;
    height:200px;
}
@media (max-width: 480px) {
  .hero-unit { padding:30px; }
  .bigandlight { font-size: 160%; }
  .spacedandlight { letter-spacing:0.3em }
  .hero-logo {
    float:none;
    display: block;
    margin:auto;
  }
}
@media (max-width: 768px) { 
}
.hero-unit .slogan {
    clear: both;
}